<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>

<form action="/"   method="post">
    <input required placeholder="Enter your name " type="text" name="name" id="nameField"><br><br>
    <input required placeholder="Enter your contact number" type="number" name="phone" id="phoneField"><br><br>


    <button type="submit" class="button button2">Submit</button><br>
    <button type="reset" class="button button3">Reset</button>
</form>

</body>


</html>